.homebanner{
    margin-bottom: 80px;
    padding: 10% 5%;
    border-radius: 20px;
}

.homebanner-primary{
    background: rgb(25,0,107);
    background: linear-gradient(90deg, rgba(25,0,107,1) 29%, rgba(124,42,205,1) 100%);
}

.homebanner-blackred{
    background: linear-gradient(147deg, #cd6f6fd0 0%, #a81313a1 74%),url('../../../public/assets/homebanner/amd.webp');
    background-size: cover;  
    background-position: center;  
}

.homebanner-light{
    background: linear-gradient(334deg, #1e8bcbd0 0%, #2adaf5a1 100%), url('../../../public/assets/homebanner/intel.webp');;
    background-size: cover;
    background-position: center;
}

.homebanner__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homebanner__description {
    margin: 20px 0px;
}
