.itemdetail__card{
    .mySwiper{
        text-align: center;
        .swiper-slide{
            img{
                max-width: 500px;
            }
            @media screen and (max-width: 768px){
                img{
                    max-width: 250px;
                }
            }
        }
    }
    h2 {
        font-weight: 600;
    }
    h4 {
      font-weight: 600;
    }
    .old_price {
          text-decoration: line-through;
          color: #ccc;
      }
    .prices{
      display: inline-block;
      .price{
          font-size: 28px;
          font-weight: 600;
      }
      .discount{
          font-size: 16px;
          font-weight: 400;
          color: green;
      }
    }
    .buttons{
      display: inline-flex;
    }
}

.itemdetail__card__swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-slide{
        height: 500px;
    }
}