.itemdetailcontainer__card{
    h2 {
        font-weight: 600;
    }
    h4 {
        font-weight: 600;
    }
    .old_price {
            text-decoration: line-through;
            color: #ccc;
        }
    .prices{
        display: inline-block;
        .price{
            font-size: 28px;
            font-weight: 600;
        }
        .discount{
            font-size: 16px;
            font-weight: 400;
            color: green;
        }
    }
    .buttons{
        display: inline-flex;
    }
}

