.navbar__section{
    display: flex;
    justify-content: space-between;
    div {
        justify-content: space-between;
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            margin: 1rem 0;
            li{
                margin: 0px 10px;
            }
        }
    }
}
