.card__comp {
    border-radius: 20px;
    transition: .25s ease-in-out;
    a {
        text-decoration: none;
        color: #000;
    }
    &:hover {
        box-shadow: 0px 10px 20px rgb(235, 235, 235);
        transition: .25s ease-in-out;
    }

    img {
        height: 250px;
        object-fit: contain;
    }
    .card__comp__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.card__buyit{
    display: flex;
}

.card__comp__buyNow{
    width: 100%;
}

.card__comp__addToCart{
    width: 100%;
}

.card__comp__enviogratis{
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 12px;
    background: #008010bd;
    color: #deffe2;
    padding: 6px 12px;
    border-radius: 12px;
}


