.card__comp {
    width: 18rem;
    border-radius: 20px;
    transition: .25s ease-in-out;
    &:hover {
        box-shadow: 0px 10px 20px rgb(235, 235, 235);
        transition: .25s ease-in-out;
    }

    img {
        height: 250px;
        object-fit: contain;
    }
    
}

.card__buyit{
    display: flex;
}

.card__comp__buyNow{
    width: 100%;
}

