.itemcount {
    display: flex;
    h6{
        min-width: 20px;
        text-align: center;
    }
    .cart__button{
        margin: 0px 0px 0px 10px;
        width: 100%;
    }
}
.cart__endbuy{
    width: 100%;
    a{
        color: white;
    }
}